{% extends 'base.html.twig' %}

{% block body %}

    <div class="container forgotPage">
        <div>
            {% for message in app.flashes('success') %}
                <div class="flash-success">
                    <div class="alert alert-success alert-dismissible fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ message }}</strong>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            {% for message in app.flashes('failure') %}
                <div class="flash-failure">
                    <div class="alert alert-warning alert-dismissible fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ message }}</strong>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h3 class="title-forgotPassword">Mot de passe oublié</h3>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="form-group">
            <div class="col-xs-12">
                {{ form_label(form.username, 'Nom d\'utilisateur', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_errors(form.username) }}
                <div class="col-sm-10">
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="btn-ask-reset">
            <button type="submit" href="{{ path('home') }}" class="btn btn-primary">Réinitialiser mot de passe</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
