<section id="MonCollapse" class="collapse hidden-sm hidden-md hidden-lg">
    <div class="well">
        {% if trick.picture|length > 1 %}
            <div class="container listImagesTrick">
                <div id="myCarouselPictureWell" class="carousel slide" data-ride="carousel">
                    <div class="col-sm-offset-3 col-sm-6">
                        <div class="carousel-inner">
                            {% for picture in trick.picture|slice(0, 1) %}
                                {% if picture.url %}
                                    <div class="item active">
                                        <img class="imagesTrickDetail" src="{{ picture.url }}">
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for picture in trick.picture|slice(1) %}
                                {% if picture.url %}
                                    <div class="item">
                                        <img class="imagesTrickDetail" src="{{ picture.url }}">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="left carousel-control" href="#myCarouselPictureWell" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarouselPictureWell" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if trick.video|length > 1 %}
            <div class="container listVideosTrick">
                <div id="myCarouselVideoWell" class="carousel slide" data-ride="carousel">
                    <div class="col-sm-offset-3 col-sm-6">
                        <div class="carousel-inner">
                            {% for video in trick.video|slice(0, 1) %}
                                <div class="item active">
                                    <iframe src="{{ video.url|urlVideoPlay(video.url) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            {% endfor %}
                            {% for video in trick.video|slice(1) %}
                                <div class="item">
                                    <iframe src="{{ video.url|urlVideoPlay(video.url) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="left carousel-control" href="#myCarouselVideoWell" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarouselVideoWell" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if trick.video|length < 2 %}
            {% for video in trick.video %}
                <div class="container oneVideoTrick">
                    <div class="col-sm-offset-3 col-sm-6">
                        <iframe width="540" height="300" src="{{ video.url|urlVideoPlay(video.url) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>
</section>

{% if trick.picture|length > 1 %}
    <div class="container hidden-xs listImagesTrick">
        <div id="myCarouselPicture" class="carousel slide" data-ride="carousel">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="carousel-inner">
                    {% for picture in trick.picture|slice(0, 1) %}
                        {% if picture.url %}
                            <div class="item active">
                                <img class="imagesTrickDetail" src="{{ picture.url }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for picture in trick.picture|slice(1) %}
                        {% if picture.url %}
                            <div class="item">
                                <img class="imagesTrickDetail" src="{{ picture.url }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#myCarouselPicture" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarouselPicture" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
{% endif %}

{% if trick.video|length > 1 %}
    <div class="container hidden-xs listVideosTrick">
        <div id="myCarouselVideo" class="carousel slide" data-ride="carousel">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="carousel-inner">
                    {% for video in trick.video|slice(0, 1) %}
                        <div class="item active">
                            <iframe src="{{ video.url|urlVideoPlay(video.url) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                    {% for video in trick.video|slice(1) %}
                        <div class="item">
                            <iframe src="{{ video.url|urlVideoPlay(video.url) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#myCarouselVideo" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarouselVideo" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
{% endif %}

{% if trick.video|length < 2 %}
    {% for video in trick.video %}
        <div class="container hidden-xs oneVideoTrick">
            <div class="col-sm-offset-3 col-sm-6">
                <iframe width="540" height="300" src="{{ video.url|urlVideoPlay(video.url) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    {% endfor %}
{% endif %}
